    <!--<body ng-controller='mainController'>-->
<style>
img{
    width:100%;
}
</style>

<div class='col-md-2'>
</div>

<div class='col-md-8 well'>
    <img src='https://unsplash.it/1000/300?image=905'>

        <!-- HEADER AND TODO COUNT -->
        <div class="jumbotron text-center">
            <h1>To Do: <span class="label label-info">{{ todos.length }}</span></h1>
        </div>

        <!-- TODO LIST -->
        <div id="todo-list" class="row">
            <div class="col-sm-6 col-sm-offset-3" id='todo-row'>

                <!-- LOOP OVER THE TODOS IN $scope.todos -->
                <div class="checkbox" ng-repeat="todo in todos">
                    <label>
                        <input type="button" class="btn btn-danger btn-sm" ng-click="deleteTodo(todo._id)" value='DELETE'> {{ todo.text }}
                    </label>
                </div>

            </div>
        </div>

        <!-- FORM TO CREATE TODOS -->
        <div id="todo-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">

                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                        <input type="text" class="form-control input-lg text-center" placeholder="Add your To-Do item" ng-model="formData.text">
                    </div>

                    <!-- createToDo() WILL CREATE NEW TODOS -->
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Add</button>
                    <!-- Delete ToDo() WILL DELETE TODOS -->
                    <!--<button type="submit" class="btn btn-danger btn-lg" ng-click="deleteTodo(todo._id)">Delete</button>-->
                </form>
            </div>
        </div>

    </div>
    
    <div class='col-md-2'>
</div>