    <!--<body ng-controller='mainController'>-->
<style>

    img{
        width:100%;
    }
    
    .strike {
        text-decoration: line-through;
    }
    .projectTable { 
        /*border: 1px solid #ddd;*/
        border-collapse: separate;
        border-left: 10px;
        border-radius: 4px;
        border-spacing: 0px;
        
    }
    table, tr, td {
        /*border: 1px solid #ddd;*/
        width:100%;
        vertical-align: middle;
    }

    
</style>

<div class='col-md-2'>
</div>

<div class='col-md-8 well'>
    <img src='https://unsplash.it/1000/300?image=883'>

        <!-- HEADER AND tolearn COUNT -->
        <div class="jumbotron text-center">
            <h1>Items To Learn: <span class="label label-info">{{ tolearn.length }}</span></h1>
        </div>

        <!-- tolearn LIST -->
        <div id="tolearn-list" class="row">
            <div id='tolearn-row'>

                <!-- LOOP OVER THE tolearn IN $scope.tolearn -->
                <!--<div class="checkbox" ng-repeat="tolearn in tolearn">-->
                <table class='projectTable'>
                    <tr ng-repeat="tolearn in tolearn">    
                        <td class="col-lg-10"><input type="checkbox" ng-model="deleted"> <a ng-class="{strike: deleted, 'has-error': error}">{{ tolearn.text }}</a></td>
                        <td class="col-lg-2"><input type="button" class="btn btn-danger btn-sm " ng-click="deletetolearn(tolearn._id)" value='DELETE'> </td>
                    </tr>
                </table>
                <!--</div>-->

            </div>
        </div>

        <!-- FORM TO CREATE tolearn -->
        <div id="tolearn-form" class="row">
            <div class="text-center">
                <form>
                    <div class="form-group">

                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                        <input type="text" class="form-control input-lg text-center" placeholder="Add your To-learn item" ng-model="formData.text">
                    </div>

                    <!-- createtolearn() WILL CREATE NEW tolearn -->
                    <button type="submit" class="btn btn-primary btn-block" ng-click="createtolearn()">Add</button>
                    <!-- Delete tolearn() WILL DELETE tolearn -->
                    <!--<button type="submit" class="btn btn-danger btn-lg" ng-click="deletetolearn(tolearn._id)">Delete</button>-->
                </form>
            </div>
        </div>

    </div>
    
    <div class='col-md-2'>
</div>